---
- name: Ensure package is installed
  package:
    name: icinga2-ido-pgsql
    state: installed
  register: _package

- name: Enable ido-pgsql feature
  command:
  args:
    argv:
      - icinga2
      - feature
      - enable
      - ido-pgsql
    creates: /etc/icinga2/features-enabled/ido-pgsql.conf
  register: _feature

- name: Ensure idoutils schema is loaded
  become: true
  become_user: icinga
  block:
    - name: Check icinga2-ido schema presence
      command:
      args:
        argv:
          - psql
          - icinga
          - -A
          - -t
          - -c
          - select count(name) from icinga_dbversion where name = 'idoutils'
      register: _dbversion
      changed_when: false
      failed_when: false
      check_mode: false

    - name: Load icinga2-ido schema
      command:
      args:
        argv:
          - psql
          - icinga
          - -f
          - /usr/share/icinga2-ido-pgsql/schema/pgsql.sql
      when: _dbversion.stdout != "1"
      register: _schema

- name: Reload icinga2 configuration
  service:
    name: icinga2.service
    state: reloaded
  when: _package.changed or _feature.changed or _schema.changed
