---
# tasks file for ssm.icinga2

- name: Include defaults
  include_vars: "{{ item }}"
  with_items:
    - "default.yaml"
    - "{{ ansible_os_family | lower }}.yaml"
    - "{{ ansible_distribution | lower }}.yaml"
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yaml"
  failed_when: false

- name: Set variables
  set_fact:
    icinga2_role: "{{ icinga2_role | default(icinga2_default_role) }}"
    icinga2_plugin_packages: "{{ icinga2_plugin_packages | default(icinga2_default_plugin_packages) }}"

- name: Sanity check
  assert:
    that:
      - icinga2_role in ['standalone', 'master', 'satellite', 'client']

- include_tasks: repository-{{ansible_os_family}}.yml
  when:
    - icinga2_manage_repo
    - ansible_os_family == "RedHat"

- include_tasks: install.yml

- include_tasks: "setup-master.yml"
  when: icinga2_role == 'master'

- include_tasks: "ido-{{ icinga2_ido_type }}.yml"
  when: icinga2_role == 'master'

- include_tasks: "setup-satellite.yml"
  when: icinga2_role in ['satellite', 'client']
