---
# tasks file for ssm.icinga2

- name: Include defaults
  include_vars: "{{ item }}"
  with_items:
    - "default.yaml"
    - "{{ ansible_os_family | lower }}.yaml"
    - "{{ ansible_distribution | lower }}.yaml"
    - "{{ ansible_distribution | lower }}-{{ ansible_distribution_major_version }}.yaml"
  failed_when: false

- name: Ensure variable icinga2_role is defined
  set_fact:
    icinga2_role: "{{ icinga2_default_role }}"
  when: icinga2_role is not defined

- name: Ensure variable icinga2_package_plugins is defined
  set_fact:
    icinga2_plugin_packages: "{{ icinga2_default_plugin_packages }}"
  when: icinga2_plugin_packages is not defined

- name: Sanity check
  assert:
    that:
      - icinga2_zone is defined
      - icinga2_role in ['master', 'satellite']

- include_tasks: repo-{{ansible_os_family}}.yml
  when:
    - icinga2_manage_repo
    - ansible_os_family == "RedHat"

- include_tasks: install.yml

- include_tasks: "setup-master.yml"
  when: icinga2_role == 'master'

- include_tasks: "ido-{{ icinga2_ido_type }}.yml"
  when: icinga2_role == 'master'

- include_tasks: "setup-satellite.yml"
  when: icinga2_role == 'satellite'
