---
# tasks file for ssm.icinga2

- include_tasks: install.yml

- include_tasks: master.yml
  when: '"icinga_master" in group_names'

- include_tasks: satellite.yml
  when: '"icinga_satellite" in group_names'
