---
- name: Include variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"

- name: Install prerequisites
  package:
    name: "{{ item }}"
    state: installed
  with_items: "{{ icinga2_web_prerequisites }}"

- name: Install packages
  package:
    name: "{{ item }}"
    state: installed
  with_items: "{{ icinga2_web_packages }}"
  notify:
    - restart apache

- name: resources.ini
  ini_file:
    path: /etc/icingaweb2/resources.ini
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  with_items: "{{ icinga2_web_config_resources_ini }}"
  loop_control:
    label: "[{{ item.section }}] {{ item.option }}"

- name: config.ini
  ini_file:
    path: /etc/icingaweb2/config.ini
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  with_items: "{{ icinga2_web_config_config_ini }}"
  loop_control:
    label: "[{{ item.section }}] {{ item.option }}"

- name: authentication.ini
  ini_file:
    path: /etc/icingaweb2/authentication.ini
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
  with_items: "{{ icinga2_web_config_authentication_ini }}"
  loop_control:
    label: "[{{ item.section }}] {{ item.option }}"

