---
- name: Webserver
  hosts:
    - icinga_master
  roles:
    - role: geerlingguy.apache
    - role: geerlingguy.php
    - role: geerlingguy.apache-php-fpm

- name: Database
  hosts:
    - icinga_master
  roles:
    - role: geerlingguy.postgresql
  vars:
    postgresql_databases:
      - name: icinga
      - name: icingaweb2
    postgresql_users:
      - name: icinga
        password: icinga
        db: icinga
      - name: icingaweb2
        password: icingaweb2
        db: icingaweb2

- name: Icinga 2
  hosts:
    - icinga_master
    - icinga_satellite
  roles:
    - role: ssm.icinga2
